.doctor-profile-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1100px; /* Adjust the max-width to fit the content size */
  margin: 2% auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.doctor-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 2;
  margin-right: 20px;
}

.doctor-name {
  font-size: 36px; /* Adjust font size as needed */
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.doctor-title {
  font-size: 18px;
  color: #007bff;
  margin-bottom: 10px;
}

.doctor-photo {
  width: 200px; /* Adjust the size as needed */
  height: 200px; /* Adjust the size as needed */
  margin-left: 20px;
}

.doctor-photo img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.doctor-social-media {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #f0f0f0;
  padding: 8px 16px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.doctor-social-media a {
  text-decoration: none;
  font-size: 16px;
  color: #007bff;
}

/* Additional Information Section */
.additional-info {
  width: 100%;
  max-width: 1100px;
  margin-top: 20px; /* Spacing between profile card and additional info */
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}