.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 20px;
    margin: 18px 50px;
  }

  .card_doctars {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 500px; /* Adjust the width as needed */
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .card-content {
    padding: 20px;
    width: 60%;
  }

  .card_doctars img {
    width: 40%;
    object-fit: cover;
  }

  .name {
    font-size: 20px;
    font-weight: bold;
  }

  .title {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
  }

  .button_doc {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }

  .button_doc:hover {
    background-color: #0771e3;
  }

  .social-icon {
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    margin-right: 10px;
  }