$bg-color: #eee;
$font-color: #333;
$orange: rgb(255,119,48);
$yellow: rgb(255,185,0);
$white:#fff;

.card{

  box-shadow:2px .8rem 1rem rgba(0,0,0,0.5);
  background-color: $white;
  margin: 8px 8px 15px;
  .image-data{
    height:25rem;
    position: relative;
    z-index:1;
    overflow:hidden;
    .background-image{
      width:100%;
      height: 100%;
      position: absolute;
      top:0;
      left:0;
      background: url("https://roche.scene7.com/is/image/RocheDiaProd/hero-slide-scanner-comparison?wid=1440&hei=702") center no-repeat;
      background-size:cover;
      z-index: -1;
      transition: transform 5s;
    }
    .publication-details{
      width: 100%;
      height: 100%;
      background: var(--gradient-color);
      font-size: 1.2rem;
      color: $white;
      font-weight:bold;
      position: absolute;
      top:0;
      left:0;
      padding: 1rem;
      i{
        margin-right:1rem;
      }
      .author{
        display: inline-block;
        margin-bottom: .5rem; 
        transition: all .5s;
        @media screen and (min-width: 600px){
          transform: translateY(-3rem);
          opacity: 0;
          transition-delay: .3s;
        }
        &:hover{
          color: rgba($white,.75);
        }
      }
      .date{
        display:block;
        @media screen and (min-width: 600px){
          transform: translateY(3rem);
          opacity: 0;
          transition: all .5s .3s;
        }
      }
      @media screen and (min-width: 600px){
        transform: translateX(-100%);
        transition: transform .5s;
      }
    }
    @media screen and (min-width: 600px){
      flex-basis: 40%;
      height: unset;
    }
  }
  .post-data{
    background-color: $white;
    padding: 2rem 3rem;
    position: relative;
    .title{
      font-size: 2.5rem;
      line-height:1;
    }
    .subtitle{
      font-size: 1.2rem;
      font-weight: 400;
      text-transform: uppercase;
      margin: 1rem 0 1.5rem 0;
    }
    .description{
      position: relative;
      line-height: 1.5;
      &:first-letter{
        margin-left: 1rem;
      }
      &:before{
        content:'';
        position: absolute;
        top:0;
        left:0;
        width:.5rem;
        height:2.5rem;
        background: var(--gradient-color);
        border-radius: 2rem;
      }
    }
    .cta{
      text-align: right;
      font-weight: bold;
      margin-top: 1rem;
      a{
        background: var(--gradient-color);
        -webkit-background-clip: text;
        color: transparent;
        position:relative;
        &:before{
          content: '';
          position: absolute;
          left: 0;
          bottom: -.5rem;
          width: 100%;
          height:3px;
          background: var(--gradient-color);
          transform: scaleX(0);
          transform-origin:left;
          transition: transform .5s;
        }
        &:hover{
          &:before{
            transform: scaleX(1);
          }
        }
      }
    }
    &:before{
      @media screen and (min-width: 600px){
        content: '';
        width:3.5rem;
        height: 100%;
        background-color: $white;
        position: absolute;
        top:0;
        left: -1.5rem;
        z-index: 10;
        transform: skewx(-5deg)
      }
    }
    @media screen and (min-width: 600px){
      flex-basis: 60%;
    }
  }
  &:hover{
    .background-image{
      transform: scale(1.5);
    }
    .publication-details{
      @media screen and (min-width: 600px){
         transform: translateX(0%);
      }
      .author,
      .date{
        @media screen and (min-width: 600px){
          transform: translateY(0%);
          opacity:1;
        }
      }
    }
  }
  @media screen and (min-width: 600px){
    flex-direction: row;
    max-width: 75rem;
  }
}